/* Layout styles -----------------------------------*/
@media (min-width: 620px) {
    main {
      column-count: 2;
      column-gap: 5px;
    }
    
    section {
      break-inside: avoid;
    }
  }
  
  @media (min-width: 960px) {
    main {
       column-count: 3;
    }
  }
  
  section {
    border: 2px dashed darkcyan;
    background-color: white;
    margin-bottom: 5px;
    overflow: hidden;
  }
  