/* Layout styles -----------------------------------*/
@media (min-width: 620px) {
    main {
      column-count: 2;
      column-gap: 0px;
    }
    
    section {
      break-inside: avoid;
    }
  }
  
  @media (min-width: 960px) {
    main {
       column-count: 3;
    }
  }
  main {
    height:500px;
  }
  section {
    height:95%;
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .pages section {
    border: 1px solid lightgray;
   }
  .pages section .page-frame {
    border: 2px dashed darkcyan;
    padding:8px;
    margin:8px;
    background-color: white;
  }